body{
    font-family:  'Ubuntu', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 5%;
    
}
.half-width img{
    width: 80%;
    margin-left: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area h1{
    margin: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.cart{
    padding: 15px;
    box-shadow: 10px 10px 40px yellowgreen;
    margin: 5%;
    width: 45%;
    border-radius: 10px;
}

#ex1{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
#ex2{
    border-image: linear-gradient(red, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer{
    text-align: center;
}
